@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

body,html {
    background-color:powderblue;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome {
    font-family: 'Short Stack', cursive;
    color:midnightblue;
    border: 1px solid thistle;
    border-radius: 10px;
    background-color:thistle ;
    text-align: center;
    padding: 8px;
    box-shadow: 3px 5px 10px 5px plum;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    flex-direction: column;
    gap:50px;
    padding-top: 100px;
}

.biography {
    display: flex;
    gap: 40px;
    height: 60%;
    width: 90%;
}

.box {
    background-color:thistle ;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    box-shadow: 3px 5px 10px 5px plum;
    font-family: 'Short Stack', cursive;
    color:midnightblue;
    border: 1px solid thistle;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    transition: 250ms ease-in-out;
}

.box:hover {
    transform: scale(1.07);
    background-color: rgb(207, 167, 221);
}

.box img{
    min-height: 120px;
    width: 120px;
    box-shadow: 3px 5px 10px 5px plum;
    border: 1px solid thistle;
    border-radius: 10px;
}

.box .text{
    height: 100%;
    background-color:rgb(212, 230, 237);
    margin: 0px 30px 30px 30px;
    padding: 5px;
    box-shadow: 3px 5px 10px 5px plum;
    border: 1px solid thistle;
    border-radius: 10px;
}

.box .name{
    height: 10%;
    background-color:rgb(224, 216, 225);
    padding: 5px;
    margin: 0px 0px 0px 0px;
    box-shadow: 3px 5px 10px 5px plum;
    border: 1px solid thistle;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


a:link {
    text-decoration: none;
  }